/*body,
html{
    margin: 0 auto; /*en caso de que algun navegador agregue margenes a la PW
}*/
body{
    display: block;
	background: #eee;
	color:  #000;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:  column;
}
a:link, a:visited,  a:hover, a:active
{
    color: #D94D1A;
    text-decoration: none;
    font-weight: bold;
}

.contenedorPresentacion{
	max-width: 100%;
	text-align: center;
	/*max-height: 100vh;*/
}

.contenedorPresentacion > div{
	display: block;
	padding:  0;
	color:  #fff;
	/*box-shadow: 2px 2px 10px rgba(0,0,0,0.25);*/
	display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

.imagen {
  width: 12.5em; /* Equivalente a 200px en em */
  height: 9.375em; /* Equivalente a 150px en em */
}



/* 
---------------------------------------------
reservation
--------------------------------------------- 
*/

#reservation .section-heading {
  margin-bottom: 30px;
}

#reservation .section-heading h6 {
  color:  #D94D1A;
}

#reservation .section-heading h2 {
  color:  #D94D1A;
  font-weight: 700;
}

#reservation .section-heading h6:before {
  background-color: #fff;
}

#reservation {
  margin-top: 0;
  padding: 20px 0px;
  /*background-image: url("../imagenes/fondoReservas.jpg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#reservation .phone,
#reservation .message {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

#reservation .phone i,
#reservation .message i {
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  color: #fff;
  background-color: #D94D1A;
  border-radius: 50%;
  font-size: 24px;
  margin-top: -25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#reservation .phone h4,
#reservation .message h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

#contact {
  margin-left: 20px;
  padding: 45px 30px;
  background-color: #fff;
  border-radius: 5px;
}

#contact h4 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #D94D1A;
  margin-bottom: 30px;
}

.datepicker-days {
  padding: 30px;
  cursor: pointer;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  color: #2a2a2a;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 100%;
  height: 46px;
  border-radius: 5px;
  outline: none;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  border-color: #D94D1A;
}

.contact-form button {
  margin-top: -10px;
  font-size: 13px;
  color: #fff;
  background-color: #D94D1A;
  padding: 12px 25px;
  width: 93%;
  box-shadow: none;
  border: none;
  display: inline-block;
  border-radius: 3px;
  font-weight: 600;
  transition: all .3s;
}

.contact-form button:hover {
  opacity: .7;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  /*padding: 20px;*/
}

.contact-form ::-webkit-input-placeholder { /* Edge */
  color: #2a2a2a;
}

.contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #2a2a2a;
}

.contact-form ::placeholder {
  color: #2a2a2a;
}

.servicios{
    margin: 5%;
    padding: 3%;
    background-color: #D9D5D6;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
    color: black;
    text-align: center;
    max-width: 1140px;
    border-radius: 5px;

}

.omotenashi{
    max-width: 400px;
    border-radius: 5px;
}

.servicios a {
  display: inline-block;
  padding: 10px 35px;
  background-color:  #D94D1A;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #D94D1A;
  margin-top: 15px;
}

.servicios a:hover {
  background-color: transparent;
  color:  #D96d1A;
}

.mapaFujitya{
    width: 100%;
    height: 100%;
}

/*-----------------------------------*/
/*------------CLIENT...--------------*/
/*-----------------------------------*/
.client_section {
    margin-top: 5%;
    margin-bottom: 5%;
}
.client_section .client_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: auto;
  padding: 0.5%;
}
.heading_container{
    margin-top: 1%;
    margin-bottom: 1%;
}

.client_section .client_container .img-box {
  width: 125px;
}

.client_section .client_container .img-box img {
  width: 100%;
  border-radius: 25px;
}

.client_section .client_container .detail-box {
  margin-top: 25px;
}

.client_section .client_container .detail-box h5 {
  color: #1d1b28;
  margin-bottom: 15px;
}

.client_section .client_container .detail-box p {
  color: #1d1b28;
  margin: 20px;
}

.client_section .client_container .detail-box span {
  margin-top: 25px;
  color: #D94D1A;
  font-size: 28px;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  width: 50px;
  height: 50px;
  border-radius: 0px;
  background-color: #D94D1A;
  opacity: 1;
  top: 28%;
  color: #ffffff;
  font-size: 12px;
  margin: 0 5px;
}

.client_section .carousel-control-prev {
  left: 15%;
}

.client_section .carousel-control-next {
  right: 15%;
}

.client_section .carousel_btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}


/* TERMINA CLIENTES*/

h2{
    color:  #D94D1A;
   font-weight: 700;

}
h6{
    font-style: italic;
    font-weight: bolder;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3%;
  padding-top: 3%;
  background-color: #D9D5D6;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
}
.about_section .promo {
  background-color: #B7B6CA;
  box-shadow: none;
}

.about_section .img-box {
  position: relative;
  overflow: hidden;
  height: 90%;
}

.about_section .img-box img {
  width: 90%;
}

.about_section .detail-box p {
  color: #1f1f1f;
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 35px;
  background-color:  #D94D1A;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid #D94D1A;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color:  #D96d1A;
}


.info_section {
  background-color: black;
  color: #ffffff;
  padding: 10px 0 10px 0;
  width: 100%;
  font-size: 0.8em;
  text-align: center; 
}

.info_section h5 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.info_section .info_top {
  margin-bottom: 25px;
}

.info_section .info_top .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info_section .info_contact {
  display: flex;
  justify-content: space-between;
  min-width: 245px;
}

.info_section .info_contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.info_section .info_contact a i {
  margin-right: 5px;
  font-size: 24px;
}

.info_section .social_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_section .social_box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 5px;
  font-size: 24px;
}

.info_section .info_bottom .row > div {
  margin-bottom: 10px;
}

.info_section .info_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.info_section .info_menu li {
  list-style-type: none;
  margin-bottom: 10px;
}

.info_section .info_menu li a {
  color: #ffffff;
}

.info_section .info_form input {
  width: 100%;
  border: none;
  height: 45px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: #eaeaea;
  outline: none;
  color: #101010;

}

.info_section .info_form button {
  display: inline-block;
  padding: 10px 45px;
  background-color: #F27830;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
  border: 1px solid #D94D1A;

}

.info_section .info_form button:hover {
  background-color: transparent;
  color: #D94D1A;
}

.footerLogo{
    max-width: 75px;
    max-height: 75px;
    margin-top: 5%;
}

.footer_section {
  position: relative;
  text-align: center;
  background-color: black;
  font-size: 0.7em;
  width: 100%; /* Agregamos esto para que la sección ocupe todo el ancho */
}

.footer_section p {
  color: #BDB199;
  padding: 1.5%;
  margin: 0;
  font-weight: bolder;
}

.footer_section p a {
  color: inherit;
}

.properties .item h4 a {
    color: #1e1e1e;
}

.properties ul.properties-filter {
    list-style: none;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
}
.properties ul.properties-filter li a {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    background-color: #1e1e1e;
    padding: 12px 25px;
    border-radius: 5px;
    transition: all .3s;
}
.properties ul.properties-filter li a.is_active {
    background-color: #f35525;
    color: #fff;
}
button {
    text-align: center;
    text-transform: none;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.625em 1.25em; /* Equivalente a 10px 20px en em */
    border: none;
    border-radius: 1.875em; /* Equivalente a 30px en em */
    color: #FFFFFF;
    margin: 0.9375em; /* Equivalente a 15px en em */
    background-color: #D94D1A; /* Color de fondo con transparencia */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    letter-spacing: 0.1em;
}

button:hover {
    background-color: rgba(242, 120, 48, 0.8);
}

.main-button a {
    display: inline-block;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 0.875em; /* Equivalente a 14px en em */
    font-weight: 500;
    height: 2.5em; /* Equivalente a 40px en em */
    line-height: 2.5em; /* Equivalente a 40px en em */
    padding: 0 1.875em; /* Equivalente a 0px 30px en em */
    border-radius: 1.5625em; /* Equivalente a 25px en em */
    transition: all 0.3s;
}

.main-button a:hover {
    background-color: rgba(242, 120, 48);
    transform: scale(1.05);
    box-shadow: 0 0 0.625em rgba(255, 255, 255, 0.8); /* Equivalente a 10px en em */
}

.explora {
    background-image: url(../imagenes/flores.jpg);
    background-position: center 56%; /* Centra verticalmente y muestra el segundo tercio de la imagen */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%; /* Ocupa el 100% del ancho de la página */
    margin: 0; /* Elimina márgenes predeterminados para ocupar toda la página */
    padding: 1.25em; /* Equivalente a 20px en em */
    box-sizing: border-box; /* Asegura que el relleno se incluya en la altura total */
    position: relative;
}
.explora1 h3 {
    color:  #fff;
    top: -50%; /* Centra verticalmente el h3 */
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-shadow: 0.25em 0.25em 0.375em rgba(255, 255, 255, 0.8); /* Equivalente a 4px 4px 6px en em */
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5); /* Equivalente a 2px 2px 4px en em */
}


.experiencia {
    background-image: url(../imagenes/santuario.jpg);
    background-position: center 56%; /* Centra verticalmente y muestra el segundo tercio de la imagen */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%; /* Ocupa el 100% del ancho de la página */
    margin: 0; /* Elimina márgenes predeterminados para ocupar toda la página */
    padding: 1.25em; /* Equivalente a 20px en em */
    box-sizing: border-box; /* Asegura que el relleno se incluya en la altura total */
    position: relative;
}


.experiencia1 h3 {
    color: rgba(242, 120, 48);
    top: -50%; /* Centra verticalmente el h3 */
    left: 50%;
    position: absolute;
    transform: translate(-50%, -220%);
    text-shadow: 0.25em 0.25em 0.375em rgba(255, 255, 255, 0.8); /* Equivalente a 4px 4px 6px en em */
    text-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5); /* Equivalente a 2px 2px 4px en em */
}
